# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*_cache/
*_files/
*.html

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.venv/
